*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    font-size: 15px;
}

html, body{
    width: 100%;
    height: 100%;
}

    body{
    background-image: url(./images/peakpx.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    color: #fff;
    background-position-y: -250px;
    background-position-x: 350px;
}

/* header{
    
    float: right;
    height: 60px;
    width: 60px;
} */

ul{
    list-style: none;
    display: flex;
    width: 40%;
    float: right;
    justify-content:space-between;
    font-family: 'Roboto';
    

}

ul li{
    padding: 20px;
    font-size: 18px;
    font-weight:700;
    font-family: 'Roboto';
}

ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight:700;
    font-family: 'Roboto';
    color: #fff;
}

ul li a:hover{
    text-decoration: none;
    font-size: 18px;
    font-weight:700;
    font-family: 'Roboto';
    color: #336699;
 }

.container{
    padding:20px;
}

.site-info{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.title{
    border: 2px solid #20B0D4;
    padding: 10px 20px;
    width: 300px;
    font-size: 36px;
    color: #2880E0;
    border-radius: 5px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.sub-title{
    font-size: 28px;
    letter-spacing: 6px;
    padding: 10px 0;
}

footer{
    position: absolute;
    bottom: 0;
    height: 60px;
    line-height: 60px;
    /* display: flex; */
    justify-content: space-between;
    width: 100%;
}

.social{
    font-size:20px;    
    float: left;
}

.social i{
    font-size: 20px;
    letter-spacing: 4px;
    padding: 20px;
}

.copyright{
    font-size:16px;
    letter-spacing: 4px;
    padding-right: 20px;
    float: right;

}   
