.navbar{
    width: 100%;
    height: 10%;
    /* background-color: aqua; */
    top: 0;
    position: sticky;
    display:flex;
    align-items:center;
    font-family: 'Josefin Sans', sans-serif;
}

.navbar_left,.navbar_right{
    flex:3;
    display:flex;
    align-items:center;
    justify-content:center;
}
.navbar_list{
    list-style:none;
    display: flex;
    justify-content:center;
    margin:0;
    padding:0;
    word-spacing: 5px;
}
.navbar_list_item{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

.icon{
    font-size:20px;
    margin-right: 20px;
    color: #444;
    cursor: pointer;
}

.navbar_image{
    width: 40px;
    height: 40px;
    border-radius:50%;
    object-fit: cover;
}

.navbar_center{
    flex:6;
}
.searchIcon{
font: size 18px;
color: #666;
cursor: pointer;
margin-left: 15px;
}